.container{ 
    border: none; 
     
    width: 600px; 
    padding: 40px; 
    margin-top: 5%;
    top: 40%; 
    left: 30%; 
    transform: translate (30%, -25%); 
    background-color: #cfe8d5; 
    justify-content: center; 
    color: navy; 
    justify-items: center; 
    }